.inc-exp-container{
    width: 410px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin: 20px 0px;
}
.inc-exp-container > div{
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type{
  border-right: 1px solid #dedede;
}
.inc-exp-container h4{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  margin-top: 12px
}
.inc-exp-container .money{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 5px;
  
}
.inc-exp-container .money.plus{
  color: #2ecc71;
}
.inc-exp-container .money.minus{
  color: #c0392b;
}